/*
Complex D3 Radial Treemap (Wordpress Plugin)
Copyright (C) 2018 Sascha-Darius Knießner
Contact sascha-darius@kniessner.com

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program. If not, see <http://www.gnu.org/licenses/>.
*/

.node circle {
  fill: powderblue;
  stroke-width: 1.5px;
}

.node {
  font: 1.5rem sans-serif;
}

.link {
  fill: none;
  stroke: #17a5b7;
  stroke-width: 2.5px;
}
.rect {

  stroke: none !important;
}
#mind_map,
#chart_wrap {
  height: 100%;
  max-height: 100vh;
  width: 100%;
}

.chart {
  width: 100%;
  height: 100%;
  max-height: 100vh;
  background: #fff9;
}


.btn .btn-special{
  background: #487494;
  border: none;
  border-radius: 0;
  width: 220px;
  margin: 10px 50px 5px;
  padding: 20px;
  color: white;
  text-transform: uppercase;
  position: absolute;
  bottom: auto;
}
